  .column {
    width: 100%;
    height: 72px;
    display: flex;
  }
  
  .column mat-form-field {
    width: 30.5%;
    margin-left: 3%;
  }
  
   form {
    margin-right: 22px;
  } 
   
  textarea {
    height: 18px;
  }   
   
  #adress {
    width: 98%;
    margin-left: 3%;
    margin-top: -5px;
  }  
  
   .photo {
    width: 240px;
    height: 51px;
    margin-left: 22px;
    border-bottom: 1px solid #757272;
    background-color: whitesmoke;
  }  
    
   .student_kb {
    margin-left: 10px;
  }  
   
   .upload {
    font-size: 9.5px;
    margin-left: 10px;
  }  
  
  @media (max-width:768px) {
    #wrapper{
      height:500px;
   }
   .submit{
      padding-bottom: 10px;
   } 
    .column {
      width: 100%;
      height: auto;
      display: block;
    }
    .column mat-form-field {
      width: 100%;

    }    
    .photo {
      width:98%;
      height: 51px;      
      margin-bottom: 20px;
    }   
    .upload {      
      margin-top:11px;     

    }       
    
  }
  @media (max-width:400px){
    .photo {
      width:100%;
      margin:0px 6px;
      padding:0px 20px 0px 0px;
      height: 51px;      
      margin-bottom: 20px;
    }  
  }
 
 