#password {
    width: 200px;
}

#address {
    width: 98.5%;
    margin-left: 1.5%;
}

textarea {
    height: 17px;
}

.register {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

@media(max-width:768px) {
    #password {
        width: 100%;
    }

    .register {
        padding-bottom: 15px;
    }

    #address {
        width: 100%;
        margin-left: 0px;
    }
}