  mat-form-field{
    margin-left:0px;    
  }
  .box {
    width:200px;
    height: 100%;
  }
  .photo {
    width: 100%;
    height: 51px;
    margin-left: 0px;
    margin-bottom:15px;
    border-bottom: 1px solid #757272;
    background-color: whitesmoke;
  }
  
  .student_kb {
    margin-left: 10px;
  }  
  .upload {
    font-size: 9.5px;
    margin-left: 10px;
  }
  
  
  